shared-customXmlDataProperties.rnc

default namespace ds =
  "http://purl.oclc.org/ooxml/officeDocument/customXml"
namespace o = "urn:schemas-microsoft-com:office:office"
namespace s = "http://purl.oclc.org/ooxml/officeDocument/sharedTypes"
namespace v = "urn:schemas-microsoft-com:vml"
namespace w10 = "urn:schemas-microsoft-com:office:word"
namespace x = "urn:schemas-microsoft-com:office:excel"

ds_CT_DatastoreSchemaRef = attribute ds:uri { xsd:string }
ds_CT_DatastoreSchemaRefs =
  element schemaRef { ds_CT_DatastoreSchemaRef }*
ds_CT_DatastoreItem =
  attribute ds:itemID { s_ST_Guid },
  element schemaRefs { ds_CT_DatastoreSchemaRefs }?
ds_datastoreItem = element datastoreItem { ds_CT_DatastoreItem }
